<h1>Welcome!</h1>
<p>
    This is an example web application created using the Angular framework.
</p>
<p>
    Many excellent resources exist for learning Angular from scratch, so the aim of this application is to give
    a high-level understanding of how an Angular application works. The hope is this will accelerate your
    learning.
</p>
<p>
    Some of the concepts demonstrated here are:
</p>
<app-data-table [properties]="contentsTableColumns" [data]="contentsTableData"></app-data-table>
<div class="d-flex justify-content-center">
    <app-coin [initialType]="0" [id]="0"></app-coin>
</div>
