<h1>Welcome!</h1>
<p>
  This is an example web application created using the Angular framework.
</p>
<p>
  Many excellent resources exist for learning Angular from scratch, so the aim of this application is to give
  a high-level understanding of how an Angular application works. The hope is this will accelerate your
  learning.
</p>
<p>
  Some of the concepts demonstrated here are:
</p>
<app-data-table [data]="contentsTableData" [properties]="contentsTableColumns"></app-data-table>
<p>
  To continue, navigate to the <a [routerLink]="['..','details']">Details page</a>.
</p>
<div class="d-flex justify-content-center">
  <app-coin [id]="0" [initialType]="0"></app-coin>
</div>
