<div class="d-flex flex-column justify-content-between h-100">
    <nav class="navbar navbar-expand-lg bg-dark c-nav-header-height">
        <img class="mx-3" src="assets/logo.svg" [width]="40">
        <button class="btn btn-outline-primary text-light mx-3 font-weight-bold border-0" [routerLink]="'home'">Home</button>
        <button class="btn btn-outline-primary text-light mx-3 font-weight-bold border-0" [routerLink]="'details'">Details</button>
        <button class="btn btn-outline-primary text-light mx-3 font-weight-bold border-0">More stuff</button>
    </nav>
    <div class="h-100">
        <ng-content></ng-content>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary c-nav-footer-height">
        <div class="d-flex justify-content-between w-100">
            <span></span>
            <span class="text-light">Score: {{score}}</span>
        </div>
    </nav>
</div>

